@import "box";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    gap: 10px;
}

.side {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 30px 15px;
    border: 10px solid #777;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.side__in {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.playground {
    position: relative;
    display: flex;
    width: calc(100% - 200px);
    border: 10px solid #777;
}

button {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
}

.play {
    background-color: green;
}

.pause {
    background-color: red;
}

.add {
    background-color: #79f;
}

.delete {
    background-color: red;
}

h1 {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-txt {
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    color: lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}
